body {
  background-color: #111;
  color: #fff;
  font-family: Arial, sans-serif;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222;
  padding: 10px 20px;
}
.logo img {
  font-size: 24px;
  color: #fff;
  width: 100px;
  height: 100px;
}


nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  color: #ccc;
  text-decoration: none;
}

.banner img {
  width: 100%;
  max-height: 150px;
  object-fit: cover;
}

section {
  padding: 20px;
  
}

.truyen-list {
  display: flex;
  gap: 20px;
  overflow-x: auto;
}

.truyen-item {
  width: 150px;
}

.truyen-item img {
  width: 100%;
  border-radius: 5px;
}

.ten {
  font-weight: bold;
}

.chuong {
  font-size: 14px;
  color: #ccc;
}
/*-->đổi màu khi di chuột vào menu*/
.main-menu li a {
  color: white;              
  text-decoration: none;
  transition: color 0.3s ease;
}

.main-menu li a:hover {
  color: orange;            
}
/*đổi màu khi di chuột vào menu <--*/
.has-dropdown {
  position: relative;
}

.has-dropdown .dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 1000px; /* độ rộng dropdown */
  background: white;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
  z-index: 1000;
}

.has-dropdown:hover .dropdown {
  display: flex;
  flex-wrap: wrap;
}

.has-dropdown .dropdown ul {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}

.has-dropdown .dropdown ul li {
  width: 20%;
  margin-bottom: 10px;
  color: #333;
  cursor: pointer;
}

.has-dropdown .dropdown ul li:hover {
  color: #ff6600;
}
